node_modules/
dist/
.env
.DS_Store
*.log
.vscode/

# Flutter related (if any in root)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Ignore APKs in root
*.apk
